#ignore thumbnails created by windows
Thumbs.db
/TFOMS/TFOMS/FPCS.Web.Admin/obj/

/TFOMS/TFOMS/FPCS.Core/bin/

/TFOMS/TFOMS/FPCS.Core/obj/Debug/
/TFOMS/TFOMS/FPCS.Core/obj/Release/

/TFOMS/TFOMS/FPCS.Data/bin/

/TFOMS/TFOMS/FPCS.Data/obj/

/TFOMS/TFOMS/FPCS.Web.Admin/bin/

/WcfService1/obj/
WcfService1/bin/
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*/[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
[Packages/
_ReSharper*/
[Tt]est[Rr]esult*
/configs/pg
WEB_60/.build/
WEB_60/Bars.KP60.App/.errors/
Packages/
WEB/WebKomplat5/Connect.config
WEB_60/Bars.KP60.App/b4.user.config
WIN/KP50.RoleManager/Source/webrolesv8/webroles/Fakes/Npgsql.fakes
*.diff
WEB/precompiled_pg/
/WEB_60/.vs/config/applicationhost.config
/WEB/WebKomplat5/files/import
/!deploy
/WEB/WebKomplat5/files/reports
*.sqlite
/WCF/HOST/AUTOHOST/.idea/.idea.STCLINE.KP50.Host
/WIN/KP50.Migrator/.idea/.idea.KP50.DataBase.Migrator
*.ide
/.gitattributes
*.DotSettings
/WIN/Bars.Database.Dump/.vs/Bars.Database.Dump/v15/Server/sqlite3
/WIN/DataBaseAnalyzer40/.vs/DataBaseAnalyzer/v15/Server/sqlite3
/WIN/DataBaseAnalyzer40/.vs/DataBaseAnalyzer/v15/sqlite3
/WCF/HOST/AUTOHOST/.vs/STCLINE.KP50.Host/v15/Server/sqlite3
/WCF/HOST/AUTOHOST/.vs/STCLINE.KP50.Host/v15/sqlite3
/WEB_60/.idea
/WEB_60/.vs/Bars.KP60/v15
/configs/pg/Host.User.config
/WEB_60/Bars.Billing.Core/libscompiled/B4
/WEB_60/Bars.KP60/libscompiled/B4
/.idea
/Bars.Billing/.idea/.idea.Bars.Billing
/.build
/.vs
*.DotSettings
/configs/pg/Host.User.config
/WEB_60/Bars.Billing.Core/libscompiled/B4
/WEB_60/Bars.KP60/libscompiled/B4
/configs/pg/Host.User.config.save
/Report/.vs/Bars.Billing.Reports/v15/Server/sqlite3
/Report/Bars.Billing.Report.Service/Report.user.config
/Report/.idea/.idea.Bars.Billing.Reports/.idea
/WIN/Bars.ResourcesMonitor/.idea/.idea.Bars.ResourcesMonitor
/WIN/Bars.ResourcesMonitor/.vs/Bars.ResourcesMonitor/v15/Server/sqlite3
/Report/Bars.Billing.Report.Tests/Report.user.config
/Report/Bars.Billing.Report.Service/Properties/PublishProfiles/FolderProfile.pubxml
/Report/.vs/Bars.Billing.Reports/DesignTimeBuild
/Report/Bars.Billing.Report.Service/font.list
/Report/Bars.Billing.Report.Service/Report.user.config
/Report/.idea/.idea.Bars.Billing.Reports/riderModule.iml
/Report/Bars.Billing.Report.Service/deploy linux.cmd
/Report/Bars.Billing.Report.Service/deploy win64.cmd
/Tests/Bars.KP50.Test/Dumps/test_bill.bkp
